.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-icon {
    padding: 0 24px;
  }
  .header-icon {
    padding: 0 24px;
    color: white;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .form-element-spacer {
    width: 30px;  
  }
  
  
  .footer-font {
    font-size:10px;
    text-align:center;
    width: 100%;
  }
  
  .header-app-title-font {
    font-size:15px;
    text-align:center;
    width: 100%;
  }
  
  .form-field-full-width {
    width: 300px;
  }
  .form-field-single-width {
    width: 300px;
  }

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}