

  <!-- Header Section -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
       <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
          <span>IHG<sup>®</sup></span>
          <span class="example-spacer"></span>
          <span class="header-app-title-font">Campaign Request</span>
          <a href="#!"><span matTooltip="Home"><mat-icon class="header-icon">home</mat-icon></span></a>
          <a href="#!"><span matTooltip="Logout"><mat-icon class="header-icon">lock</mat-icon></span></a>
        </mat-toolbar-row>
      </mat-toolbar>
      </div>
    </nav>
  </div>

<!-- Header Section -->

  <mat-drawer-container autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <span matTooltip="Action Menu"><mat-icon>more_vert</mat-icon></span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="addmenu">
                <mat-icon>library_add</mat-icon>
                <span>New</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="managemenu">
                <mat-icon>edit</mat-icon>
                <span>Manage</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="reportmenu">
                <mat-icon>library_books</mat-icon>
                <span>Reports</span>
              </button>
              <button mat-menu-item (click)="drawer.toggle()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Close</span>
              </button>
              
            </mat-menu>
         </div>
         
      

          <mat-menu #addmenu="matMenu">
              <button mat-menu-item (click)="drawer.toggle()" routerLink="newcampagin">Campaign</button>
              <button mat-menu-item (click)="drawer.toggle()" routerLink="newvendor">Vendor</button>
            </mat-menu>
            
            <mat-menu #managemenu="matMenu">
                <button mat-menu-item (click)="drawer.toggle()" routerLink="managecampaign">Campaign</button>
                <button mat-menu-item (click)="drawer.toggle()" routerLink="managevendor">Vendor</button>
            </mat-menu>


            <mat-menu #reportmenu="matMenu">
                <button mat-menu-item (click)="drawer.toggle()" routerLink="repbyvendor">By Vendor</button>
                <button mat-menu-item (click)="drawer.toggle()" routerLink="repbybrand">By Brand</button>
                <button mat-menu-item (click)="drawer.toggle()" routerLink="repbyregion">By Region</button>
                <button mat-menu-item (click)="drawer.toggle()" routerLink="repbypage">By Pages</button>
            </mat-menu>
            
          
       
 </mat-drawer>


    
 <router-outlet></router-outlet>

  </mat-drawer-container>


    <mat-footer></mat-footer>
