.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 
  .example-spacer {
    flex: 1 1 auto;
  }

  .form-element-spacer {
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }
  
  


  
  .field-text-width {
    width: 300px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }    
  .field-text-width-exlen {
    width: 400px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }
  .field-text-width-2 {
    width: 300px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }

  .field-text-width-txtarea{
    width: 600px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }